# базовые утилиты
Jinja2
Markdown
MarkupSafe
PyYAML
Pygments
Werkzeug
absl-py
aiohappyeyeballs
aiohttp
aiosignal
astunparse
async-timeout
attrs
certifi
charset-normalizer
contourpy
cycler
fastapi
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
geopandas
google-pasta
grpcio
h5py
huggingface_hub
idna
imageio
importlib_metadata
importlib_resources
joblib
keras
kiwisolver
lazy_loader
markdown-it-py
matplotlib
mdurl
ml_dtypes
mpmath
multidict
namex
networkx
# ВАЖНО: numpy НЕ указываем, чтобы не перебить conda-пакет от базового образа
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
propcache
protobuf
psutil
pyogrio
pyparsing
pyproj
python-dateutil
python-multipart
pytz
requests
rich
scikit-image
scikit-learn
scipy
seaborn
shapely
six
sympy
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tifffile
tqdm
typing_extensions
tzdata
urllib3
uvicorn
wrapt
yarl
zipp
